<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="SICDBWEBNSEntities" connectionString="metadata=res://*/SICNSModel.csdl|res://*/SICNSModel.ssdl|res://*/SICNSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=JUAN-MAC;Initial Catalog=SICDBWEBNS_DES;User ID=sa;Password=899833245;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>


  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NS_RESTFullEndpointBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://qa.natcomsystems.net" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false" 
                         />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

</configuration>
